.box-shadow-after:after {
    box-shadow: 0 0 40px rgba(47, 85, 212, 0.1);
    background: rgba(47, 85, 212, 0.1);
    content: "";
    position: absolute;
    z-index: -1;
    right: -10rem;
    bottom: -3rem;
    width: 35rem;
    height: 35rem;
    border-radius: 15rem;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
}

@media (max-width: 767px) {
    .box-shadow-after:after {
        display: none;
    }
}
