.section-event {
    .card.blog img {
        height: 190px;
        min-height: 190px;
        max-height: 190px;
    }
    .card.blog p {
        height: 130px;
        min-height: 130px;
        max-height: 130px;
    }
    .card.blog h6 {
        white-space: nowrap;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
