.vue-typer .custom.char.typed {
    color: $primary;
}
.vue-typer .custom.char.selected {
    color: #ffffff;
    background-color: $primary;
}
.vue-typer .custom.idle, .vue-typer .custom.typing {
    background-color: $primary;
}

.vue-typer.text-white {
    .custom.char.typed {
        color: #fff;
    }
    .custom.char.selected {
        color: $primary;
        background-color: #fff;
    }
    .custom.idle, .vue-typer .custom.typing {
        background-color: #fff;
    }
}

@media (max-width: 767px) {
    .index-typer {
        height: 86px;
    }
}
